
nav{
    width:90%;
    margin: auto;

}

ol{
    margin:auto;
display: flex;
justify-content: space-evenly;
border: 1px solid #000;
height:50px;
align-items: center;
list-style-type:none;
padding:0;
}

ol li{
    text-align: center;
    width:25%;
    padding:15px;
    border: 1px solid #000;;
}


ol li a{
    text-decoration:none;
    color:inherit;
    padding:15px;
}


ol li:first-child{
    background-color:orange;
    
}

ol li:nth-child(2){
    background-color: red;
    color:gold;
}
ol li:nth-child(3){
    background-color: white;
    
}

ol li:nth-child(4){
    background-color:#cd884c;
    color:yellow;
}
ol li:hover{
    color:violet;
    transition: 0.8s;
}

@media screen and (max-width:600px){
    
    ol{
        height:auto;
        width:80;
        flex-direction: column;
        border: none;
    }
}